.nofile {
    margin: 1em;
}

td {
    cursor: pointer;
}

table {
    width: 100%;
}

mat-form-field {
    width: 90%;
    margin: 1.4em;
}

.mat-column-sharedRatio, .mat-column-partfile_size_full, .mat-column-firstSeenDl {
    min-width: 6em;
}