<div *ngIf="!dataSource.data.length" class="nofile">
  No file
</div>
<mat-form-field *ngIf="dataSource.data.length">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
  <ng-container matColumnDef="partfile_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let e" (click)="open(e)"> {{e.partfile_name}} </td>
  </ng-container>
  <ng-container matColumnDef="partfile_size_full">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
    <td mat-cell *matCellDef="let element"> {{element.partfile_size_full | fileSize}} </td>
  </ng-container>
  <ng-container matColumnDef="sharedRatio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header title="Shared ratio"> Shared </th>
    <td mat-cell *matCellDef="let element"> {{element.sharedRatio}} </td>
  </ng-container>
  <ng-container matColumnDef="firstSeenDl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header title="First seen"> First seen </th>
    <td mat-cell *matCellDef="let element" title="{{element.firstSeenDl | date : 'medium'}}"> {{element.firstSeenDl | date : 'mediumDate'}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>