form {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 15px;
    margin-top: 2em;
}

@media (max-width: 720px) {
    form {
        grid-template-columns: 1fr;
        margin: 1em;
    }
}

.error {
    color: red;
}