<form (ngSubmit)="onConnect()" *ngIf="!data && auth">
    <div></div>
    <div>
        <mat-card>
            <mat-card-header>
                <h1>Login</h1>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input [(ngModel)]="auth.url" name="url" matInput placeholder="Ip address">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="auth.port" name="port" matInput placeholder="Port">
                </mat-form-field>
                <mat-form-field>
                    <input type="password" [(ngModel)]="auth.password" name="password" matInput placeholder="Password">
                </mat-form-field>
                <section>
                    <mat-checkbox [(ngModel)]="auth.autoconnect" name="autoconnect">Auto connect?</mat-checkbox>
                </section>
                <div *ngIf="error" class="error">{{error}}</div>
            </mat-card-content>
            <mat-card-actions class="app-center">
                <button type="submit" mat-button>Connect</button>
            </mat-card-actions>
        </mat-card>
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
</form>

<mat-tab-group *ngIf="data">
    <mat-tab label="{{ 'PAGES.COLLECTION.TITLE' | translate }}">
        <app-collection [results]="data.res"></app-collection>
    </mat-tab>
    <mat-tab label="{{ 'PAGES.DL.TITLE' | translate }}">
        <app-dl [items]="data.dls"></app-dl>
    </mat-tab>
    <mat-tab label="{{ 'PAGES.SEARCH.TITLE' | translate }}">
        <app-search (refresh)="update($event)"></app-search>
    </mat-tab>
    <mat-tab label="Suggestions">
        <app-suggestions [results]="data.res"></app-suggestions>
    </mat-tab>
</mat-tab-group>