<div *ngIf="!dataSource.data.length">
  No file to download
</div>
<mat-form-field *ngIf="dataSource.data.length">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
  <ng-container matColumnDef="partfile_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.partfile_name}} </td>
  </ng-container>
  <ng-container matColumnDef="partfile_size_full">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
    <td mat-cell *matCellDef="let element"> {{element.partfile_size_full | fileSize}} </td>
  </ng-container>
  <ng-container matColumnDef="completeness">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
    <td mat-cell *matCellDef="let element"> {{element.completeness * 100}}% </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>