<mat-progress-bar *ngIf="isSearching" mode="query"></mat-progress-bar>
<mat-form-field class="suggestions-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let sug of suggestions" [selectable]="selectable" [removable]="!isSearching" (removed)="remove(sug)">
      {{ sug.name }}
      <!--
      <mat-icon svgIcon="cancel">cancel</mat-icon>
    -->
      <mat-icon matChipRemove *ngIf="!isSearching">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Suggestions based on the following key words"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
<button type="submit" mat-stroked-button (click)="suggest()" *ngIf="!isSearching">Get suggestions</button>
<div *ngFor="let s of suggestions" class="table-container">
  <table mat-table [dataSource]="s.shortList">
    <ng-container matColumnDef="partfile_name">
      <th mat-header-cell *matHeaderCellDef>{{ s.name }} ({{ s.results?.length }})</th>
      <td mat-cell *matCellDef="let e" [style.color]="e.color" (click)="download(e)">{{ e.partfile_name }}</td>
    </ng-container>
    <ng-container matColumnDef="partfile_source_count">
      <th mat-header-cell *matHeaderCellDef>Sources</th>
      <td mat-cell *matCellDef="let e">{{ e.partfile_source_count }}</td>
    </ng-container>
    <ng-container matColumnDef="partfile_size_full">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <td mat-cell *matCellDef="let e">{{ e.partfile_size_full | fileSize }}</td>
    </ng-container>
    <ng-container matColumnDef="firstSeen">
      <th mat-header-cell *matHeaderCellDef title="When the files are first seen by Amultron.">First seen</th>
      <td mat-cell *matCellDef="let e" title="{{ e.firstSeen | date: 'medium' }}">{{ e.firstSeen | date: 'mediumDate' }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
