<form (ngSubmit)="search()">
  <mat-toolbar class="main-search">
    <mat-toolbar-row>
      <mat-form-field class="spacer">
        <mat-label>{{ 'PAGES.SEARCH.TITLE' | translate }}</mat-label>
        <input [(ngModel)]="q" name="q" matInput placeholder="Search" />
      </mat-form-field>

      <button type="submit" mat-stroked-button>Search</button>
      <button type="button" (click)="showAdvance = !showAdvance" mat-stroked-button>Options</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div [hidden]="!showAdvance">
    <mat-label>{{ 'PAGES.SEARCH.NETWORK' | translate }}</mat-label>
    <mat-radio-group class="radio-group" [(ngModel)]="network" name="network">
      <mat-radio-button class="radio-button" *ngFor="let n of networks" [value]="n.value"> {{ n.label }} </mat-radio-button>
    </mat-radio-group>
  </div>
</form>

<mat-toolbar *ngIf="!dataSource.data.length && !isSearching">
  <mat-toolbar-row> No result </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="error" class="error">{{ error }}</div>

<mat-spinner *ngIf="isSearching"></mat-spinner>

<mat-toolbar class="local-search" *ngIf="showSearch">
  <mat-toolbar-row>
    <mat-form-field class="spacer">
      <mat-label>Search in the results list</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" #searchInput />
    </mat-form-field>
    <button mat-icon-button (click)="searchInput.value = ''; applyFilter(''); showSearch = false">
      <mat-icon svgIcon="clear">Clear</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar *ngIf="dataSource.data.length && !showSearch">
  <mat-toolbar-row>
    <span>{{ dataSource.data.length }} results</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="showDl" (click)="toggleList(false)">
      <mat-icon svgIcon="visibility">View</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!showDl" (click)="toggleList(true)">
      <mat-icon svgIcon="visibility_off">View</mat-icon>
    </button>
    <button mat-icon-button (click)="showSearch = true">
      <mat-icon svgIcon="search">Search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
  <ng-container matColumnDef="partfile_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let e" [style.color]="e.color" (click)="download(e)" title="Download this file.">
      {{ e.partfile_name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="partfile_source_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sources</th>
    <td mat-cell *matCellDef="let element">{{ element.partfile_source_count }}</td>
  </ng-container>
  <ng-container matColumnDef="partfile_size_full">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
    <td mat-cell *matCellDef="let element">{{ element.partfile_size_full | fileSize }}</td>
  </ng-container>
  <ng-container matColumnDef="firstSeen">
    <th mat-header-cell *matHeaderCellDef title="When the files are first seen by Amultron." mat-sort-header>First seen</th>
    <td mat-cell *matCellDef="let element" title="{{ element.firstSeen | date: 'medium' }}">{{ element.firstSeen | date: 'mediumDate' }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
