td {
    cursor: pointer;
}

.error {
    color: red;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.radio-button {
    margin: 5px;
}

.spacer {
    flex: 1 1 auto;
}

.main-search {
    background-color: inherit; 
    margin-top: 2em;
}

.mat-column-size, .mat-column-sourceCount {
    padding-right: 1em;
}

table {
    width: 100%;
}